*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0f172a;
    color:white;
}

header{
    min-height:100vh;
    background:linear-gradient(135deg,#2563eb,#7c3aed);
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding-top:60px;
}

.hero h2{
    font-size:3rem;
}

.hero p{
    margin:20px;
}

.btn{
    display:inline-block;
    padding:12px 24px;
    background:white;
    color:#2563eb;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}

section{
    padding:80px 10%;
}

section h2{
    margin-bottom:30px;
}

.card,
.project-card{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
    margin-top:20px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
}

.skill{
    background:#2563eb;
    padding:20px;
    text-align:center;
    border-radius:12px;
}

footer{
    text-align:center;
    padding:20px;
    background:#020617;
}

.profile-pic{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid white;
    margin-bottom:20px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.certificate-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
    margin-top:30px;
}

.certificate-card{
    background:#1e293b;
    border-radius:15px;
    overflow:hidden;
    text-align:center;
    transition:0.3s;
}

.certificate-card:hover{
    transform:translateY(-5px);
}

.certificate-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.certificate-card h3{
    margin:15px 10px 10px;
}

.certificate-card p{
    margin-bottom:20px;
    color:#cbd5e1;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

form input,
form textarea{
    padding:15px;
    border:none;
    border-radius:10px;
    font-size:16px;
}

form textarea{
    min-height:150px;
    resize:vertical;
}

form button{
    border:none;
    cursor:pointer;
}

#status{
    margin-top:20px;
    color:#7CFC00;
    font-weight:bold;
}
